@model MVC_Bootstrap.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Client</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ClientID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Firstname, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Firstname)
                    @Html.ValidationMessageFor(model => model.Firstname)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname)
                    @Html.ValidationMessageFor(model => model.Surname)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Initials, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Initials)
                    @Html.ValidationMessageFor(model => model.Initials)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmployeeNumber)
                    @Html.ValidationMessageFor(model => model.EmployeeNumber)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.IDPassport, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IDPassport)
                    @Html.ValidationMessageFor(model => model.IDPassport)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ContractorNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContractorNo)
                    @Html.ValidationMessageFor(model => model.ContractorNo)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Street)
                    @Html.ValidationMessageFor(model => model.Street)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Block, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Block)
                    @Html.ValidationMessageFor(model => model.Block)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Country)
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostalCode)
                    @Html.ValidationMessageFor(model => model.PostalCode)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactNo)
                    @Html.ValidationMessageFor(model => model.ContactNo)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EthnicalGroupID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EthnicalGroupID)
                    @Html.ValidationMessageFor(model => model.EthnicalGroupID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DOB)
                    @Html.ValidationMessageFor(model => model.DOB)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.GenderID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GenderID)
                    @Html.ValidationMessageFor(model => model.GenderID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.RegistrationDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RegistrationDate)
                    @Html.ValidationMessageFor(model => model.RegistrationDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.EmployerID, "EmployerID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("EmployerID", String.Empty)
                    @Html.ValidationMessageFor(model => model.EmployerID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreatedByID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedByID)
                    @Html.ValidationMessageFor(model => model.CreatedByID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ModifiedByID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifiedByID)
                    @Html.ValidationMessageFor(model => model.ModifiedByID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifiedDate)
                    @Html.ValidationMessageFor(model => model.ModifiedDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedDate)
                    @Html.ValidationMessageFor(model => model.CreatedDate)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
